<head>
<link rel="stylesheet" href="~/style/style.css" type="text/css" />
</head>

<body>
    <form method="post">

        <p>Select a range of years to show people of the year in Time Magazine!</p>

        <br />
        <input placeholder="Start Year" maxlength="4" name="startYear" /> <br />
        <p> TO </p><br />
        <input placeholder="End Year" maxlength="4" name="endYear" />
        <br />
        <br />
        <button type="submit">Submit</button>
    </form>
</body>